pyrogram==1.2.20
tgcrypto
youtube-search-python==1.4.9
youtube-search
httpx==0.13.3
git+https://github.com/yt-dlp/yt-dlp@master
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
python-arq
