git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp@master
tgcrypto
pytgcalls
python-dotenv
youtube-search-python==1.4.9
requests
aiohttp
aiofiles
asyncio
youtube-search
ffmpeg-python
pillow
python-arq
future
psutil
wget
tswift
motor
dnspython
heroku3
gitpython
httpx==0.13.3
pymongo
