tgcrypto
git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python==1.4.9
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
search-engine-parser
asyncio
youtube-search
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
heroku3
gitpython
httpx==0.13.3
pymongo
